[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
networkx = "*"
tqdm = "*"
numpy = "*"
jupyter = "*"
autopep8 = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
bs4 = "*"
wget = "*"
lxml = "*"
six = "*"
sklearn = "*"
dill = "*"
cloudpickle = "*"
jupyter-contrib-nbextensions = "*"
scikit-posthocs = "*"
ggplot = "*"
keras = "*"
xlrd = "*"

[requires]
python_version = "3.7"
